h3
{
	color: #111111;
}

h5
{
	color: #660000;
}

.heading
{
	color: #660000;
}

.small
{
	color: #993333;
}

a:link
{
	color: #993333;
}

a:visited
{
	color: #cc6666;
}

a:hover
{
	color: #993333;
}

a.nav:link
{
	color: #992222;
}

a.nav:visited
{
	color: #cc4444;
}

a.nav:hover
{
	color: #cc5555;
}

a.west:link
{
	color: #333388;
}

a.west:visited
{
	color: #6666aa;
}

a.west:hover
{
	color: #6666aa;
}

a.global:link
{
	color: #336666;
}

